<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Shawn Mendes</title>
        <link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
		<header class="web_header">
            <div class="branding">
                <h1>Shawn Mendes</h1>
                <h2>blog</h2>
            </div>
            
            <nav class="header_li">
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="news.html">news</a></li>
				<li><a href="playlist.html">playlist</a></li>

            </nav>

        </header>
        <main id="aboutmain">
            <article >
                <p>Shawn Mendes is a Grammy-nominated Canadian singer-songwriter who rose to fame with his debut single "Life of the Party" in 2014. With chart-topping albums like *Illuminate* and *Wonder*, Shawn has captured the hearts of fans worldwide with his soulful voice and heartfelt lyrics.

                    Known for his collaborations with artists like Camila Cabello and Justin Bieber, Shawn's journey from Vine sensation to global superstar is an inspiring tale of talent and perseverance. He continues to use his platform to raise awareness for mental health and environmental causes, showcasing his dedication both as an artist and as a human being.
                </p>
            </article>
            
            <img src="Shawn-Mendes2.webp">

        </main>
        <footer>
            
            <p>&copy;2014 Island_Records</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </footer>

    </body>

</html>