---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome to Shawn Mendes' World</title>
		
	</head>
	<body>
		<header class="web_header">
            <div class="branding">
                <h1>Shawn Mendes</h1>
                <h2>blog</h2>
            </div>
            
            <nav class="header_li">
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="news.html">news</a></li>
				<li><a href="playlist.html">playlist</a></li>
				

            </nav>

        </header>
        <main id="introduction">
            <article>
                <h2>About latest updates of Shawn Mendez</h2>
                <p>Explore the latest updates, music, and tour dates of <em>Shawn Mendes</em>, the Canadian sensation known for hits like "Stitches" and "Señorita." 
					Dive into his story and stay tuned for the latest from your favorite artist!
                <br>
                <br>
            
                
                <br>
                </p>

            </article>
            
            <img src="tangyufei.webp">
        </main>
        <footer>
            
            <p>&copy;2014 Island_Records</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
                <p>test</p>
            </ul>
        </footer>
	</body>
</html>
